<div class="container mt-3">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p>Cuisine: <%= @restaurant.category.capitalize %></p>

  <h3>Reviews</h3>
  <% if @restaurant.reviews.any? %>
    <% @restaurant.reviews.each do |review| %>
      <div>
        <p class="m-0 ms-2" style="font-size: 0.8em">
          <% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
          </p>
        <p><%= review.content %></p>
      </div>
    <% end %>
  <% else %>
    <li>No reviews yet</li>
  <% end %>
  <%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class:'btn btn-info text-decoration-none text-white mt-3'%>
</div>

<div class="container  mt-3">
  <%= link_to "Go back", restaurants_path, class:"text-decoration-none" %>
</div>
